<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>WoShopee</title>
	<!-- Bootstrap CSS -->
	{% include 'snippets/css.html' %}
</head>

<body>

	<!--================Header Menu Area =================-->
	{% include 'snippets/navbar.html' %}
	<!--================Header Menu Area =================-->
	<!-- Start main content -->
	
	{% block content %}
		
	{% endblock content %}
		
	<!-- / end main content -->
	<!--================ start footer Area  =================-->
	{% include 'snippets/footer.html' %}
	<!--================ End footer Area  =================-->



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	{% include 'snippets/js.html' %}
</body>

</html>
