{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container my-5 py-5">


        <!--Section: Content-->
        <section class="text-center">


            <!--Grid row-->
            <div class="row">

                
                {% for obj in object_list %}
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                        <!-- Card -->
                        <div class="card">
    
                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top"
                                    src="{{ obj.image.url }}">
                                <a href="{% url 'shop:product_detail' slug=obj.slug %}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
    
                            <!-- Card content -->
                            <div class="card-body">
    
                                <p class="mb-1"><a href="{% url 'shop:product_detail' slug=obj.slug %}" class="font-weight-bold black-text">{{ obj.title }}</a></p>
    
                                <p class="mb-1"><small class="mr-1"><s>${{ obj.discount_price }}</s></small><strong>${{ obj.price }}</strong></p>
    
                                <span class="text-center">
                                    <a href="{% url 'order:add_item_to_cart' slug=obj.slug %}"ta-toggle="tooltip" data-placement="top" title="Add to Cart">
                                      <i class="fas fa-shopping-cart ml-3"></i>
                                    </a>
                                  </span>
    
                            </div>
    
                        </div>
                        <!-- Card -->
    
    
                    </div>
                    <!--Grid column-->
                {% endfor %}
                    

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->


    </div>
{% endblock content %}